@using Microsoft.AspNetCore.Identity
@using SGP.Infrastructure.Authentication
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var displayName = currentUser?.Name ?? currentUser?.UserName ?? "User";


        <ul class="navbar-nav me-3">
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="settingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear fs-5"></i> <!-- Bootstrap gear icon -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsDropdown">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ItemCategories" asp-action="">Profile Settings</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Settings" asp-action="Preferences">Preferences</a></li>
                    
                </ul>
            </li>
        </ul>


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @displayName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
